[project]
	description = chef-aws-jenkins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanumanthvendra
[access "refs/for/refs/*"]
	read = group user/hanumanthvendra
	push = group user/hanumanthvendra
	label-Code-Review = -2..+2 group user/hanumanthvendra
	label-Verified = -1..+1 group user/hanumanthvendra
	rebase = group user/hanumanthvendra
	removeReviewer = group user/hanumanthvendra
	submit = group user/hanumanthvendra
[access "refs/heads/*"]
	read = group user/hanumanthvendra
	create = group user/hanumanthvendra
	push = +force group user/hanumanthvendra
	pushMerge = group user/hanumanthvendra
[access "refs/tags/*"]
	push = group user/hanumanthvendra
	push = +force group user/hanumanthvendra
